.menu{
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li{
  display: inline-block;
  padding: 1.8em 1em;
  position: relative;
}
.navigation li a{
  color: #fff;
  padding: 1.8em 1em;
}
.navigation li:hover{
  background: #606060;
  max-width: 100%;
}
.navigation li .sub-menu{
  background: #2c2c2c;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

@media(max-width: 700px){
.fas,
.navigation img {
  display: none;
}
.navigation li{
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0 1em;
  border-bottom: 1px solid #eaeaeb;
  }
.navigation a{
  color: #fff;
  display: block;
  }
.navigation li:hover  {
background: none;
  }
.navigation li .sub-menu{
  position: relative;
  }
.navigation li .sub-menu{
  width: 100%;
  background: #1d1d1d;
  display: block;
  }

  .navigation li .sub-menu:hover li{
    background: none;
  }
  .sub-menu li:last-child{
    border-bottom: none;
  }


}
@media(max-width: 506px){
  .social a{
    display: block;
    padding: 1.5em 0;
  }
}
.navigation li .sub-menu li{
  display: block;
}
.navigation li .sub-menu li:hover{
  background: #606060;
}
.navigation li:hover .sub-menu{
  display: block;
}
.fa-sort-down{
  margin-left: -10px;
}

#toggle,
label{
  float: right;
  display: none;
}
label {
  font-size: 1.75em;
  line-height: 5.5em;
  color: #fff;
}
.fas{
  color: #fff;
}