body {
	color: #5D5D5D;
font-size: 17px;
	line-height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	background: #f7f7f7;
}
.container:before,
.group:before,
.container:after,
.group:after {
    content: " ";
    display: table;
}
.container:after,
.group:after {
    clear: both;
}

.container {
	max-width: 73.125em; /* 1170/16 */
	margin: 0 auto;
}

main {
	padding-top: 2em;
}

h1, h2{
	color: #252122;
	font-size: 2.6875em; /* 43/16 */
	line-height: 1.875em; /* 30/16 */
	font-weight: bold;
	letter-spacing: -0.5px;
	margin-top: 0;
}

h2 {
	font-size: 1.4375em; /* 23/16 */
}

p {
	margin-bottom: 1.875em; /* 30/16 */
}

p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.fas,
.fab{
	color: #fff;
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}

/*menu nav-bar*/
.menu{
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-bar{
	max-width: 100%;
	background: #363636;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16),
				0 2px 10px rgba(0, 0, 0, 0.12);

}
.post-header {
	background: #fff;
}
header{
	background: #252525;
}

.logo img{
	max-width: 8.75em; /* 140/16 */
	max-height: 8.75em; /* 140/16 */
	float: left;
	margin-top: -51px;
	padding-right: 2em;
}
.contact-bar{
	max-width: 100%;
	padding: 0 1.25em;
	background: #252525;
}
 .fab,
.personal a{
	color: #fff;
	padding: 0 0.5em
}
 .personal a{
	line-height: 3.125em; /* 50/16 */
	margin-left: 0.625em; /* 10/16 */
	font-size:1em;
}

 .personal li{
	display: inline-block;
	padding: 0 0.5em;
}
 .personal li:first-child{
	padding-right: 2em;
}

.contact-bar .social li{
	float: right;
	margin: 0.5em;
	margin-top: -45px;
}
.contact-bar .fab{
	font-size: 1.85em;
	color: #505050;
	transition: all 1.25s ease;
	padding: 0 0.5em;
}
.contact-bar .fab:hover,
.contact-bar .fab:focus{
	color: #fff;
}
.social-icon{
	display: block;
	max-width:2.3em ;
	max-height:2.3em;
	line-height: 2.85em;
	background: #2d2d2d;
	text-align: center;
	border-radius: 0.4em;
}

.navigation li{
	display: inline-block;
	position: relative;
	padding: 1.8em 1em;
	background: #363636;


}
.navigation a{
	padding: 1.8em 1em;
	color: #fff;
}
.navigation li:hover{
	background: #505050;
	color: #fff;
}

.navigation li .sub-menu {
padding: 0;
position: absolute;
top: 100%;
left: 0;
width: 100%;
display: none;
}
.navigation li .sub-menu li{
	background: #363636;
	display: block;
}
.navigation li .sub-menu li:hover{
	display: block;
	background: #505050;
}
.navigation li:hover .sub-menu{
display: block;
}
.box {
	background: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2.5em; /* 40/16 */
}


/* hlavicka */

.post-header h1{
	text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5); /*5px posunutie do prava 0px posunutie tienu zhora dole alebo opačne 1px rozmazanosť*/
}



/* hlavny obsah */

.content{
	float: left;
	max-width: 100%;
	padding-top: 1em;
}

.content p:first-of-type {
	font-style: italic;
}



.text {
	padding: 1.875em; /* 30/16 */
}
/*contact form*/

form{
	max-width: 34em; /* 599/16 */ /* 599/16 */
	margin: 0 1.25em 1.25em;/*0 z vrch z prava zlava 1.25 a zo spodu 1.25*/
	float: left;

}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
button{
	border: none;
	max-width: 12em;
	padding: 1em 1.25em;
	background: #f9f9f9;
	margin: 1em;
	border-radius: 0.125em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
}
textarea{
	border: none;
	width:86%;
	padding: 1em 1.25em;
	margin: 1em;
	background: #f9f9f9;
	border-radius:0.125em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):focus,
textarea:focus{
	transition:all ease-in-out 0.25s;
	background: #fff;
}

button {
	display: block;
	background: #373737;
	color: #fff;
	padding: 0.5em 1em;
}
.features {
	margin-bottom: 3.125em;
}

.features section {
	float: left;
	max-width: 16.875em; /* 270/16 */

}

.features section:first-child {
	margin-right: 2.5em; /* 40/16 */
	border-bottom: 1px solid #f9f9f9;
}

.features section:last-child  {
	border-bottom: 1px solid #f9f9f9;
}



.features p {
	font-weight: normal;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin-bottom: 1.5em;
}
.features h3 {
	letter-spacing: 1px;
	margin-bottom: 15px;
	margin-top: 1em;
}
.features h3:before {
	color: #000;
	text-align: center;

	display: inline-block;
	max-height: 2em;
	max-width: 2em;
	font-size: 1em;
	line-height: 2em;
	margin-right: 24px;
	position: relative;

	background: #f9f9f9;
	border-radius: 50%;
}
.features a{
	color: #444;
	text-decoration:underline;
}
/*pre-footer*/

.pre-footer{
	background: #373737;
	color: #f6f6f6;
	padding: 4em 0;
}
.pre-footer .container{
	max-width: 25em; /* 400/16 */

}

.pre-footer .personal li{
	margin-right: 0;
}
.pre-footer .social{
	margin: 0;
}
.pre-footer .social li{
	display: inline-block;
	padding-right:2em;
	padding-bottom: 2.5em;
}

.pre-footer .social .fab{
	font-size:6em;
}
.pre-footer .fab{
	color: #2c2c2c;
	transition: all 2s ease;
}
.pre-footer a:hover .fab{
	color: #fff;
}


footer{
	background: #1e1e1e;
	padding:1.25em;
	color: #fff;
}
footer .container{
	max-width: 51.875em; /* 830/16 */
}

footer  p,
footer .author {
	text-align: center;
	color: #c7c7c7;
}

/*mediaqueries*/
@media(max-width:633px ){
.features,
button{
	float: none;
	text-align: justify;
	margin-left: 6.25em; /* 100/16 */
}
}
@media(max-width: 704px){
.pre-footer .social li{
	text-align: center;
	display: block;
	margin-bottom: 4em;
}
}
@media(max-width: 625px){
	input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
button{
	display: block;}
}
@media(max-width: 450px){
	form{
		max-width: 16em;
	}



}
