body{
	color: #222;
	font-size: 16px;
	line-height: 30px;
	font-family: Georgia, serif;
	margin: 0 auto;
	padding: 0 20px;
}
h1,h2,h3{
	font-weight: 800;
	font-family: sans-serif;
}
a{
	color: #2455c3;
	text-decoration: none;
}
/*ak napišem a bg fz 18*/
a{
	background: #bada55;
	font-size: 18px;
}
/*a niekde neskor podtým v kode napišem*/
a{
	background: #000;

	/*čo bude vysledok vysedok bude background #000; a font-size 18px*/
}
/*post-meta*/
#boss{
	background: #bada55;
}
.post-meta{
	background: orange !important;
}
p{
	background: #white;
}