body{
	background: #eeefed;
	color: #323232;
	font-family: 'Source Sans Pro', sans-serif;
}
.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after{
	content: " ";
	display: table;
}
.container:after,
.group:after,
.menu:after{
	clear: both;
}
a{
	text-decoration: none;
}

storng{
	font-weight: 600;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu li{
	float: left;
}
.container{
	width: 1170px;
	margin: 0px auto;
}
.fab,
.fas{
	vertical-align: middle;
}
/*contact*/
.contact-bar,
.personal a{
	color: #ffffff;

}

.contact-bar{
	background: #39a3d4;
	height: 84px;
	font-size: 14px;
}
.personal{
	margin-top: 29px;
	float: left;
}
.social{
	margin-top: 10px;
	float: right;
}
.personal li{
	margin-right: 70px; /*aby elementy neboli nalepene na seba */
}
.personal .fas{
	font-size: 28px;
	margin-right: 15px; /*aby neboli narazene na pravu stranu */
}
.social .fab{
	font-size: 17px;
}
.social-icon{
	display: block;
	width: 48px;
	height: 48px;
	line-height: 46px; /*ked nastavíme rovnaky line height ako je jeho hodnota height tak sa vycebtruje element vertikalne na stred*/
	color: #989898;
	background: #eeefed;
	text-align: center;

}
.social-icon:hover,
.social-icon:focus{
	color: #ffffff;
	background: #5bd0ec;

}
/*nav-bar*/
.nav-bar{
	background: #f2f2f2;
}
.logo{
	float: left;
}
.logo a{
	display: block;
	background:url("../img/logo.png");
	background-position: 0px 0px;
	background-repeat:no-repeat;
	width: 186px;
	height: 31px;
	text-indent: -9999px;/*pošle naš text uplnemimo stranku*/
	margin-top: 24px;
}
.navigation{
	float: right;
}
.navigation .fas{
	display: block;
	padding-top: 28px;
	padding-bottom: 10px;
}
.navigation a{
	color: #a6a6a6;
	display: block;
	width: 136px;
	height: 120px;
	text-align: center;
	text-transform: uppercase;
}
.selected a,
.navigation a:hover,
.navigation a:focus{
	color: #de5728;
}
.navigation li{
	border-left:1px solid #cecece;
}
.navigation li:last-child{
	border-right: 1px solid #cecece;
}

/*post-header & CONTENT*/
.text-center{
	text-align: center;
}
.post-header{
	height: 166px;
	background: url("../img/cover.jpg");
	background-position: center -200px;
	background-repeat: no-repeat;
}
.post-title{
	background: #de5728;
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	padding: 18px 46px;
	border-radius: 7px;
	text-transform: uppercase;
	display: inline-block;
}
.post-content{
	padding-bottom: 150px;/*cley ten "držiak" obsah ako taky bude mať padding od spodu */
}
.post-content h2{
	color: #323232;
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;

}
.controls{
	width: 642px;
	margin: 50px auto;
	text-align: center;
}
.controls a{
	color: #39a3d4;
	font-size: 22px;
	font-weight: 300;
	padding: 0px 25px;
	line-height: 48px;/*tym vlastne forsnem nejky padding z vrchu aj od spodu*/
	text-transform: uppercase;
	display: block;

}
.controls a:hover,
.controls a:focus,
.controls .selected a{
	color: #fff;
	background: #39a3d4;
	border-radius: 4px;


}
/*post-content gallery*/
.gallery{
	font-size: 0px;/*zruši nam medzeri medzi obrazkami*/
}
/*pre-footer & footer*/
.pre-footer{
	color: #fff;
	background: #323232;
	text-align: center;
}
.pre-footer .container{
	width:400px;/*pri pre-footeri zmenšujeme container na 400 pretože naž odstavec toľko zabera*/
	padding: 40px 0px 60px 0px;
}
.pre-footer p{
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
}
.pre-footer strong{
	font-size: 22px;
	font-weight: 600;
	text-transform: none;
}
.pre-footer .personal li{
	margin-right: 0;
}
.pre-footer .personal li:first-child{
	margin-right:60px;
}
/*FOOTER*/
footer{
	font-size: 14px;
}
footer .container{
	background:url("../img/logo.png");
	background-position: left center;
	background-repeat: no-repeat;
}
footer p{
	color: #a6a6a6;
	padding-left: 200px;
	float: left;


}
footer p,
footer .menu{
	margin: 32px 0px 32px 0px;

}
footer p a{
	color: #e75652;
	font-weight: 600;
}
footer .menu{
	font-weight: 600;
	text-transform: uppercase;

	float: right;
}
footer .menu a{
	color: #989897;

}
footer .menu a:hover,
footer .menu a:focus{
	text-decoration: underline;;

}
footer li:after{
	content:"/";
	color: #989898;
	margin: 0px 8px;
}
footer li:last-child:after{
	content: " ";
}