html,
body{
	margin: 0;
	padding: 0;
}
body {

	color: #5D5D5D;
	font-size: 17px;
	line-height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	background: #f7f7f7;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}
.group:after {
	clear: both;
}
.container{
	width: 960px;
	margin: 0px auto;
}
.section-1{
	width: 500px;
	 height: 500px;
	background: #f2da55;
}
.box{

	width: 380px;
	height: 50px;
	background: #f20;
}